{% extends "SUHConnexionBundle:Connexion:base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block head %} {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/suhContrat/css/contrat.css')}}" type="text/css"/>
{% endblock %}
{% block title %} {{parent()}} - Inscription étudiant aidant{% endblock %}

{% block body %}
    <body>
    <div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        <div class="col-md-12">

            <section class="col-md-6">
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.nom) }}
                    {{ form_widget(form.etudiantInformations.nom) }}
                    {{ form_errors(form.etudiantInformations.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.prenom) }}
                    {{ form_widget(form.etudiantInformations.prenom) }}
                    {{ form_errors(form.etudiantInformations.prenom) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.mailPerso) }}
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span> 
                        {{ form_widget(form.etudiantInformations.mailPerso) }}
                        {{ form_errors(form.etudiantInformations.mailPerso) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.mailParents) }}
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span> 
                        {{ form_widget(form.etudiantInformations.mailParents) }}
                        {{ form_errors(form.etudiantInformations.mailParents) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.adresseEtudiante) }}
                    {{ form_widget(form.etudiantInformations.adresseEtudiante) }}
                    {{ form_errors(form.etudiantInformations.adresseEtudiante) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.adresseFamiliale) }}
                    {{ form_widget(form.etudiantInformations.adresseFamiliale) }}
                    {{ form_errors(form.etudiantInformations.adresseFamiliale) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.telephonePerso) }}
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-phone"></span> 
                        {{ form_widget(form.etudiantInformations.telephonePerso) }}
                        {{ form_errors(form.etudiantInformations.telephonePerso) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantInformations.telephoneParents) }}
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-phone-alt"></span> 
                        {{ form_widget(form.etudiantInformations.telephoneParents) }}
                        {{ form_errors(form.etudiantInformations.telephoneParents) }}
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div class="col-md-12">
                    {{ form_label(form.etudiant.numeroEtudiant) }}
                    {{ form_widget(form.etudiant.numeroEtudiant) }}
                    {{ form_errors(form.etudiant.numeroEtudiant) }}
                </div>
                <div class="col-md-12" >
                    {{ form_label(form.etudiant.dateNaissance) }}
                    {{ form_widget(form.etudiant.dateNaissance) }}
                    {{ form_errors(form.etudiant.dateNaissance) }}
                </div>
                <div class="col-md-6" >
                    {{ form_label(form.etudiant.premiereInscription) }}
                    {{ form_widget(form.etudiant.premiereInscription) }}
                    {{ form_errors(form.etudiant.premiereInscription) }}
                </div>
                <div class="col-md-6" >
                    {{ form_label(form.etudiantInformations.mailInstitutionnel) }}
                    {{ form_widget(form.etudiantInformations.mailInstitutionnel) }}
                    {{ form_errors(form.etudiantInformations.mailInstitutionnel) }}
                </div>
                <div class="col-md-12" >
                    {{ form_label(form.certificatMedical) }}
                    {{ form_widget(form.certificatMedical) }}
                    {{ form_errors(form.certificatMedical) }}
                </div>
            </section>
            <section class="col-md-12">
                <div class="col-md-6">
                    {{ form_label(form.etudiantFormation.composante) }}
                    {{ form_widget(form.etudiantFormation.composante) }}
                    {{ form_errors(form.etudiantFormation.composante) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantFormation.filiere) }}
                    {{ form_widget(form.etudiantFormation.filiere) }}
                    {{ form_errors(form.etudiantFormation.filiere) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantFormation.cycle) }}
                    {{ form_widget(form.etudiantFormation.cycle) }}
                    {{ form_errors(form.etudiantFormation.cycle) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantFormation.anneeEtude) }}
                    {{ form_widget(form.etudiantFormation.anneeEtude) }}
                    {{ form_errors(form.etudiantFormation.anneeEtude) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantFormation.diplome) }}
                    {{ form_widget(form.etudiantFormation.diplome) }}
                    {{ form_errors(form.etudiantFormation.diplome) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.etudiantFormation.etablissement) }}
                    {{ form_widget(form.etudiantFormation.etablissement) }}
                    {{ form_errors(form.etudiantFormation.etablissement) }}
                </div>

            </section>
            <section class="col-md-12">

                <label for="username">Identifiant :</label>
                <input id="username" name="username" type="text" required="required" value=""/><br/>

                <label for="pass">Mot de passe :</label>
                <input id="pass" name="pass" type="password" required="required"/><br/>
            </section>
            <section class="col-md-12">

                {{ form_widget(form.Envoyer) }}
            </section>
            
        </div>
        {{ form_end(form) }}
        </div>
    </body>
    <script type="text/javascript">

        $(function() {


            $( "#suh_contratbundle_etudiantaidant_etudiantFormation_diplome option:selected").parent().parent().append('<div class="autre_container"><label class="control-label">Autre</label><input id="autre_input" class="form-control"></div>');
            $(".autre_container").hide();
            $( "#suh_contratbundle_etudiantaidant_etudiantFormation_diplome" ).change(function() {
                if($( "#suh_contratbundle_etudiantaidant_etudiantFormation_diplome option:selected").is(':last-child')){
                    $(".autre_container").slideDown();
                } else {
                    $(".autre_container").slideUp();
                }
            });
            $("#autre_input").change(function(){
                $temp = $("#autre_input").val();
                if($( "#suh_contratbundle_etudiantaidant_etudiantFormation_diplome option:selected").is(':last-child')){
                    $( "#suh_contratbundle_etudiantaidant_etudiantFormation_diplome option:selected").val($temp);
                }
            });

            

            $( "#suh_contratbundle_etudiantaidant_etudiantFormation_etablissement option:selected").parent().parent().append('<div class="autre_container2"><label class="control-label">Autre</label><input id="autre_input2" class="form-control"></div>');
            $(".autre_container2").hide();
            $( "#suh_contratbundle_etudiantaidant_etudiantFormation_etablissement" ).change(function() {
                if($( "#suh_contratbundle_etudiantaidant_etudiantFormation_etablissement option:selected").is(':last-child')){
                    $(".autre_container2").slideDown();
                } else {
                    $(".autre_container2").slideUp();
                }
            });
            $("#autre_input2").change(function(){
                $temp2 = $("#autre_input2").val();
                if($( "#suh_contratbundle_etudiantaidant_etudiantFormation_etablissement option:selected").is(':last-child')){
                    $( "#suh_contratbundle_etudiantaidant_etudiantFormation_etablissement option:selected").val($temp2);
                }
            });

            /*$.datepicker.regional['fr'] = {clearText: 'Effacer', clearStatus: '',
                    closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
                    prevText: '<Préc', prevStatus: 'Voir le mois précédent',
                    nextText: 'Suiv>', nextStatus: 'Voir le mois suivant',
                    currentText: 'Courant', currentStatus: 'Voir le mois courant',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
                    'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                    monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
                    'Jul','Aoû','Sep','Oct','Nov','Déc'],
                    monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
                    weekHeader: 'Sm', weekStatus: '',
                    dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                    dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                    dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
                    dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
                    dateFormat: 'dd/mm/yy', firstDay: 0, 
                    initStatus: 'Choisir la date', isRTL: false};
                 $.datepicker.setDefaults($.datepicker.regional['fr']);


            $( "#suh_contratbundle_etudiantaidant_etudiant_dateNaissance" ).datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2015",
                defaultDate: "-20y",
                dateFormat: "dd/mm/yy"
            });
            */

        });
    </script>
{% endblock %}