<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    
    <link rel="stylesheet" href="{{ asset('bundles/suhContrat/css/bootstrap.min.css')}}" type="text/css"/>  
    <link rel="stylesheet" href="{{ asset('bundles/suhContrat/css/contrat.css')}}" type="text/css"/>

    <link rel="stylesheet" href="{{ asset('bundles/suhGestion/css/bootstrap-datetimepicker.min.css') }}"/>

    <link rel="apple-touch-icon" sizes="76x76" href="{{asset('bundles/logo.ico/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" href="{{asset('bundles/logo.ico/favicon-32x32.png')}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{asset('bundles/logo.ico/favicon-16x16.png')}}" sizes="16x16">
    <link rel="manifest" href="{{asset('bundles/logo.ico/manifest.json')}}">
    <link rel="mask-icon" href="{{asset('bundles/logo.ico/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="{{asset('bundles/suhContrat/js/jquery.min.js')}}"></script> 
    <script type="text/javascript" src="{{asset('bundles/suhContrat/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhContrat/js/contrat.js')}}"></script>
    {% if app.request.get('_route') == 'suh_contrat_afficherContrat' or app.request.get('_route') == 'suh_contrat_gestionHeures' %}
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jspdf.min.js')}}"></script>
    {% endif %}
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/bootstrap-datetimepicker.min.js')}}"></script>

    <title>{% block title %} Contrat {% endblock %}</title>
  </head>
  <!-- HEADER : logo SUH + navbar (accueil, statistiques, deconnexion -->
  <body>
  {% block header %}
    <header>
      <div class="container-fluid">
        
          <div class="row">
              <div id="logo-head" class="col-md-2">
              {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-12">
                  <a id="logo" href="{{path('suh_choix_homepage')}}">
                      <img  alt="SUH" src="{{asset('bundles/suhGestion/images/logo_suh.png')}}">
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="{{path('suh_contrat_homepage')}}">
                      <span class="btn btn-primary">
                          Contrat
                      </span>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="{{path('suh_gestion_homepage')}}">
                      <span class="btn btn-success" >
                          Gestion
                      </span>
                  </a>
                </div>
                {% endif %}
              </div>
              <div class="col-md-10">
                  <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <ul class="nav navbar-nav">

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_homepage' %} active {% endif %}"><a id="accueil" href="{{path('suh_contrat_homepage')}}">Accueil</a></li>
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_parameters' %} active {% endif %}"><a id="parameters" href="{{path('suh_contrat_parameters')}}">Paramètres</a></li>
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_statistiques_avancees' %} active {% endif %}"><a id="stats" href="{{path('suh_contrat_statistiques_avancees')}}">Statistiques</a></li>
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_importExport' %} active {% endif %}"><a id="importExport" href="{{path('suh_contrat_importExport')}}">Import/Export</a></li>

                        {% endif %}

                        {% if is_granted('ROLE_USER') %}
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_etudiant_homepageEtudiant' %} active {% endif %}"><a id="accueil" href="{{path('suh_etudiant_homepageEtudiant')}}">Accueil</a></li>
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_etudiant_heuresNonValidesEtudiant' %} active {% endif %}"><a id="heures" href="{{path('suh_etudiant_heuresNonValidesEtudiant')}}">Heures non valides</a></li>
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_etudiant_heuresValidesEtudiant' %} active {% endif %}"><a id="heures" href="{{path('suh_etudiant_heuresValidesEtudiant')}}">Heures valides</a></li>
                            <li class="liensNavbar {% if app.request.get('_route') == 'suh_etudiant_compteEtudiant' %} active {% endif %}"><a id="compte" href="{{path('suh_etudiant_compteEtudiant')}}">Mon Compte</a></li>
                        {% endif %}

                        <li id="help"><a href="#" data-toggle="tooltip"> ? </a></li>
                          <li id="deconnexion"><a class="label-danger" href="{{path('logout')}}">Deconnexion</a></li>
                        </ul>

                    </div>
                </nav>
              </div>
          </div>
      </div>      
    </header>
  {% endblock %}
  <!-- FIN HEADER -->
  
  {% block body %}
      
  {% endblock %}
  
  <a href="#logo-head" class="scroll-top">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </a>
  </body>

</html>

