{% extends "SUHContratBundle:AffichageContrats:accueil.html.twig" %}




    {% block menuright %}
        {% include "SUHContratBundle:AffichageContrats:menuEtudiantAidant.html.twig" %}
    {% endblock %}

    {% block titleright %}
        <p class="">Editer un avenant </p>
    {% endblock %}

    {% block bodyright %}
        <div class="col-md-12 container-contrat">
            <div class="bloc-contrat panel panel-primary">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}



                {# Idem pour un autre champ. #}
                <div class="form-group">
                    {{ form_label(form.nbHeure, "Nombre d'heures initiales : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.nbHeure) }}
                    <div class="col-sm-1">
                        {{ form_widget(form.nbHeure, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                {% if form.dateEnvoiDRH is defined  %}
                    <div class="form-group">
                        {{ form_label(form.dateEnvoiDRH, "Date envoi DRH : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.dateEnvoiDRH) }}
                        <div class="col-sm-3">
                            {{ form_widget(form.dateEnvoiDRH, {'attr': {'class': 'form-control date'}}) }}
                        </div>
                    </div>
                {% endif %}

                {% if form.dateEnvoiEtudiant is defined  %}
                    <div class="form-group">
                        {{ form_label(form.dateEnvoiEtudiant, "Date envoi etudiant : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.dateEnvoiEtudiant) }}
                        <div class="col-sm-3">
                            {{ form_widget(form.dateEnvoiEtudiant, {'attr': {'class': 'form-control date'}}) }}
                        </div>
                    </div>
                {% endif %}




                <button type="submit" class="btn btn-success col-sm-offset-3">Editer l'avenant</button>
                <br>


                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}

            </div>
        </div>



        <script type="text/javascript">

            $(function() {

                $('.date').datetimepicker({
                    format: 'DD/MM/YYYY',
                    defaultDate: new Date(),
                });

            });
        </script>
    {% endblock %}