{% extends "SUHContratBundle:AffichageContrats:accueil.html.twig" %}




    {% block menuright %}
        {% include "SUHContratBundle:AffichageContrats:menuEtudiantAidant.html.twig" %}
    {% endblock %}

    {% block titleright %}
    <p class="">Gestion heures</p>
    {% endblock %}
    {% block bodyright %}
    <div class="container-contrat col-md-12">


    {% if listeHeures is empty %}
        <br>
        <h2 class="col-lg-offset-1">
            <strong>Aucune heure pour cet étudiant.
            <br>
            Vous pouvez consulter
            <a href="{{ path("suh_contrat_afficherContrat", {'id' : id}) }}" style="color: #1f7e9a">
                les contrats disponibles
            </a>
            ou
            <a href="{{ path("suh_contrat_showArchive", {'id' : id}) }}" style="color: #1f7e9a">les contrats archivés.</a>
            </strong>

        </h2>
    {% else %}
        <div class="heure">

            {% set  previousM = false %}

            <form action="{{ path("suh_contrat_validationHeures", {'id' : id}) }}" method="post">

                <button class="btn btn-warning col-lg-offset-10 col-lg-2" type="submit">Appliquer</button>
                <br>
                <br>

                {% for heure in listeHeures %}

                    {% if previousM !=  heure.dateAndTime|slice(3, 7) %}
                    <div class="bloc-contrat panel panel-primary">
                        <div class="col-lg-12 panel-heading">
                            <span class="arrow-panel-heading glyphicon glyphicon-menu-down dot-arrow"></span>

                            <h3 class="panel-title titre-contrat">{{ tabMois[heure.dateAndTime|slice(3, 2)]}} {{ heure.dateAndTime|slice(6, 4)  }}</h3>


                            <span class="ok-panel-heading glyphicon glyphicon-ok"></span>

                            <h3 class="panel-title titre-contrat titre-contrat-heures">
                                <span>
                                70
                                </span>
                                heure(s)
                            </h3>
                            <h3 class="panel-title titre-contrat titre-contrat-heures heures-valides">
                                <span>10 </span>
                                heure(s) validées
                            </h3>
                        </div>
                        <div class="col-lg-12" style="font-size: larger">
                            <a href="{{ path("suh_contrat_exportationFichePaie", {'month' :  heure.dateAndTime|slice(3, 2), 'year' : heure.dateAndTime|slice(6, 4)}) }}">
                                <button class="btn btn-primary">
                                    Generer fiche de paie
                                </button>
                            </a>
                            <table class="table  table-striped">
                                <thead>
                                <tr style="font-size: x-large; font-weight: bold">
                                    <th>Date et Heure</th>
                                    <th>Nature de la mission</th>
                                    <th>Description</th>
                                    <th>Durée</th>
                                    <th>Validation</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% set previousM =  heure.dateAndTime|slice(3, 7) %}
                                    {% for heure in listeHeures %}
                                        {% if previousM ==  heure.dateAndTime|slice(3, 7) %}

                                            <tr>
                                                <th>{{ heure.dateAndTime }}</th>
                                                {% if  heure.natureMission == "tutorat" %}
                                                    <th>Tutorat</th>
                                                {% elseif   heure.natureMission == "priseNote"%}
                                                    <th>Prise de note</th>
                                                {% else %}
                                                    <th>Assistance pédagogique</th>
                                                {% endif %}
                                                <th>{{ heure.descriptionMission }}</th>
                                                <th>{{ heure.nbHeure}} heure(s)</th>
                                                {% if heure.verification %}
                                                    <th><span class="glyphicon glyphicon-ok" style="color: green"></span></th>
                                                {% else %}
                                                    <th><span class="glyphicon glyphicon-remove" style="color:red;"></span></th>
                                                {% endif %}
                                                <th>
                                                    <div class="checkbox">
                                                        <label>
                                                            {% if heure.verification %}
                                                                <input type="checkbox" name="heure{{ heure.id }}" checked>
                                                            {% else %}
                                                                <input type="checkbox" name="heure{{ heure.id }}" >
                                                            {% endif %}


                                                        </label>

                                                    </div>
                                                </th>


                                            </tr>

                                        {% endif %}

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    {% endif %}
    </div>
{% endblock %}