
    <div id="listeProfil" class="container" style="color: white">
        <ul  class="nav nav-tabs nav-justified">
        	<li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_getEtudiantAidant' %} active {% endif %}">
        		<a href="{{ path('suh_contrat_getEtudiantAidant', {'id': id}) }}" >Profil</a>
        	</li>
        	<li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_afficherContrat' %} active {% endif %}">
        		<a id="addContrat" href="{{path('suh_contrat_afficherContrat', {'idEtudiant': id}) }}">Afficher les contrats</a>
        	</li>
        	<li class="liensNavbar {% if app.request.get('_route') == 'suh_contrat_addContrat' %} active {% endif %}">
        		<a id="addContrat" href="{{path('suh_contrat_addContrat', {'idEtudiant': id}) }}">Ajouter un contrat</a>
        	</li>
		</ul>
		<section id="content_right">
			<h1>{{informationsEtudiantAidant.etudiantInformations.nom}} {{informationsEtudiantAidant.etudiantInformations.prenom}}</h1>
		</section>
    </div>
