{% extends "SUHContratBundle:AffichageContrats:base.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block body %}
    <body>
        <div class="container ">
            <div class="col-lg-5"  style="background-color: #1f7e9a ">

                <h2 style="text-align: center">Heures en attentes de validation </h2>
                {% if listeHeureNonValide == null %}
                    <h3 style="color: red">Aucune heure en attente de validation</h3>
                {% else %}
                    {% for heureNonValide in listeHeureNonValide %}
                        <div class="row">
                            <h3 style="text-decoration: underline"> Le : {{ heureNonValide.dateAndTime | striptags | slice(0, 10) }} à {{ heureNonValide.dateAndTime | striptags | slice(11, 15) }}</h3>
                            <h4> Nature de la mission : {{ heureNonValide.natureMission }} </h4>
                            <h4> Description de la mission : {{ heureNonValide.descriptionMission }} </h4>
                            <h4> Nombre d'heures effectuées: {{ heureNonValide.nbHeure }} </h4>


                            <div class="col-lg-2">
                                <a href="{{ path("suh_etudiant_heuresEtudiant_editer", {'idHeure': heureNonValide.id}) }}">
                                    <button class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span> Editer
                                    </button>
                                </a>
                            </div>
                            <div class="col-lg-2">
                                <a href="{{ path("suh_etudiant_heuresEtudiant_delete", {'idHeure': heureNonValide.id}) }}">
                                    <button class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span> Supprimer
                                    </button>
                                </a>
                            </div>
                            <br>
                            <hr>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-lg-5 col-lg-push-2"  style="background-color: #2aabd2">
                <h2 style="text-align: center">Heures validées </h2>
                {% if listeHeureValide == null %}
                    <h3 style="color: red">Aucune heure validée</h3>
                {% else %}
                    {% for heureValide in listeHeureValide %}
                        <div class="row">
                            <h3 style="text-decoration: underline"> Le : {{ heureValide .dateAndTime | striptags | slice(0, 10) }} à {{ heureValide.dateAndTime | striptags | slice(11, 15) }}</h3>
                            <h4> Nature de la mission : {{ heureValide .natureMission }} </h4>
                            <h4> Description de la mission : {{ heureValide .descriptionMission }} </h4>
                            <h4> Nombre d'heures effectuées: {{ heureValide.nbHeure }} </h4>


                            <br>
                            <hr>
                        </div>

                    {% endfor %}
                {% endif %}

            </div>

        </div>
    </body>

{% endblock %}
