<div id="liste" class="">
    <ul class="col-md-12">
        {% for etudiant in listeEtudiantsAidants %}
            
            {% if loop.index is even %}
                <li class="pair">
                    <a href="{{ path('suh_contrat_getEtudiantAidant', {'id': etudiant.id})}}">{{etudiant.etudiantInformations.nom}} {{etudiant.etudiantInformations.prenom}}</a>
                </li>
            {% else %}
                <li class="impair">
                    <a href="{{ path('suh_contrat_getEtudiantAidant', {'id': etudiant.id})}}">{{etudiant.etudiantInformations.nom}} {{etudiant.etudiantInformations.prenom}}</a>
                </li>
            {% endif %}
        {% endfor %}
        
    </ul>
</div>
{% set userIndex = '' %}

{% for etudiant in listeEtudiantsAidants %}
    {% if etudiant.etudiantInformations.mailInstitutionnel is not null %}
        {% set userIndex = userIndex ~ etudiant.etudiantInformations.mailInstitutionnel ~ ';' %}
    {% endif %}
    {% if etudiant.etudiantInformations.mailPerso is not null %}
        {% set userIndex = userIndex ~ etudiant.etudiantInformations.mailPerso ~ ';' %}
    {% endif %}
{% endfor %}

<div id="nbResultats" class="">
    <a href="mailto:{{ userIndex }}" style="text-decoration: none; display:inline-block;" class="fa fa-envelope-o"></a>
    <p style="margin-left:10px; display:inline-block;" class="help-block"> Nombre de résultats : 
        <span class="badge" >{{listeEtudiantsAidants|length}}</span></p>
</div>