{% extends "SUHContratBundle:AffichageContrats:base.html.twig" %}

{% block head %} {{parent()}}
    <link rel="stylesheet" href="{{asset('bundles/suhContrat/css/contrat.css')}}" type="text/css"/>
{% endblock %}
{% block title %} {{parent()}} - Contrats Etudiant {% endblock %}

{% block body %}
<body>
    <div class="container" style="background-color: #b7b7b7">
        <h1>Liste des contrats</h1>

        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                <strong>Succès !</strong> Le contrat a été créé.
            </div>
        {% endfor %}

        {% for contrat in listeContrats %}

            <div class="row">
                <h3 class="col-lg-6"> Du : {{ contrat.dateDebutContrat|date('d/m/Y') }} au {{ contrat.dateFinContrat|date('d/m/Y')}}</h3>
                <h3>{{ contrat.nbHeureInitiales }} heure(s)</h3>
            </div>

            Nature du contrat : {{ contrat.natureContrat }}

            <br>
            Semestre concerné : n°{{ contrat.semestreConcerne}}

            <br>
            <p>Date d'envoi du contrat :</p>
            <div class="row">
                <div class="col-lg-3"><BLOCKQUOTE>
                    DRH :
                        {% if  (contrat.dateEnvoiDRH is null) %}
                            non défini
                        {% else %}
                            {{ contrat.dateEnvoiDRH|date('d/m/Y') }}
                        {% endif %}

                </div>
                <div class="col-lg-3"><BLOCKQUOTE>
                    Etudiant :
                        {% if  (contrat.dateEnvoiEtudiant is null) %}
                            non défini
                        {% else %}
                            {{ contrat.dateEnvoiEtudiant|date('d/m/Y') }}
                        {% endif %}

                </div>
            </div>
            <p>Date d'envoi de l'avenant :</p>
            <div class="row">
                <div class="col-lg-3"><BLOCKQUOTE>
                    DRH :
                        {% if  (contrat.dateEnvoiAvenantDRH is null) %}
                            non défini
                        {% else %}
                            {{ contrat.dateEnvoiAvenantDRH|date('d/m/Y') }}
                        {% endif %}

                </div>
                <div class="col-lg-3"><BLOCKQUOTE>
                    Etudiant :
                        {% if  (contrat.dateEnvoiAvenantEtudiant is null) %}
                            non défini
                        {% else %}
                            {{ contrat.dateEnvoiAvenantEtudiant|date('d/m/Y') }}
                        {% endif %}
                </div>

            </div>
            <a href="{{ path('suh_contrat_deleteContrat', {'idContrat': contrat.id}) }}">
                <button type="button" class="btn btn-danger">Supprimer</button>
            </a>
            <hr>
        {% endfor %}




    </div>



</body>
{% endblock %}