{% extends "SUHContratBundle:AffichageContrats:accueil.html.twig" %}




    {% block menuright %}
        {% include "SUHContratBundle:AffichageContrats:menuEtudiantAidant.html.twig" %}
    {% endblock %}

    {% block titleright %}
    <p>Liste des contrats</p>
    {% endblock %}
    {% block bodyright %}
    <div class="container-contrat col-md-12">

    {% if listeContrats is empty %}
        <br>
        <h2 class="col-lg-offset-1">
            <strong>Aucun contrat pour cet étudiant.
            <br>
            Vous pouvez consulter les
            </strong>
            <a href="{{ path('suh_contrat_showArchive', {'id' : id}) }}">contrats archivés.</a>

        </h2>
    {% endif %}
    {% for contrat in listeContrats %}

    <div class="bloc-contrat">
        {% if listeHeures is not empty %}
        <div class="heure">

            {% set  previousM = false %}
            

            <form action="{{ path('suh_contrat_miseEnPaiementValidation', {'id' : id}) }}" method="post">

                

                {% for heure in listeHeures %}

                    

                    {% if previousM !=  heure.dateAndTime|slice(3, 7) %}

                    {% set  unchecked = true %}

                    {% for heure in listeHeures %}
                        {% if heure.heurePayee == false %}
                            {% set unchecked = false %}
                        {% endif %}
                    {% endfor %}

                    <div class="bloc-contrat panel panel-primary">
                        <div class="col-lg-12 panel-heading">
                            <span class="arrow-panel-heading glyphicon glyphicon-menu-down dot-arrow"></span>

                            <h3 class="panel-title titre-contrat">{{ tabMois[heure.dateAndTime|slice(3, 2)]}} {{ heure.dateAndTime|slice(6, 4)  }}</h3>

                            {% if unchecked == true %}
                                <span class="ok-panel-heading glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="ok-panel-heading glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </div>
                        <div class="col-lg-12" style="font-size: larger">

                            <div class="col-lg-12">
                                <button class="btn btn-warning col-lg-offset-8 col-lg-2" type="submit">Appliquer</button>
                                <span class="col-lg-offset-1 col-lg-1">
                                    <input class="multiple-paiement" type="checkbox" 
                                    {% if unchecked == false %}
                                        checked
                                    {% endif %}
                                    />
                                </span>
                            </div>

                            <div class="col-lg-12" style="font-size: larger">
                                <table class="table  table-striped">
                                    <thead>
                                        <tr style="font-size: x-large; font-weight: bold">
                                            <th>Date et Heure</th>
                                            <th>Nature de la mission</th>
                                            <th>Description</th>
                                            <th>Durée</th>
                                            <th>Payée</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set previousM =  heure.dateAndTime|slice(3, 7) %}
                                        {% for heure in listeHeures %}
                                            {% if previousM ==  heure.dateAndTime|slice(3, 7) %}

                                                <tr>
                                                    <td>{{ heure.dateAndTime }}</td>
                                                    {% if  heure.natureMission == "tutorat" %}
                                                        <td>Tutorat</td>
                                                    {% elseif   heure.natureMission == "priseNote"%}
                                                        <td>Prise de note</td>
                                                    {% else %}
                                                        <td>Assistance pédagogique</td>
                                                    {% endif %}
                                                    <td>{{ heure.descriptionMission }}</td>
                                                    <td>{{ heure.nbHeure}} heure(s)</td>
                                                    <td>
                                                    {% if heure.heurePayee %}
                                                        <span class="glyphicon glyphicon-ok" style="color: green"></span>
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                                    {% endif %}
                                                    </td>
                                                    <td class="hidden-input">
                                                        <div class="checkbox">
                                                            <label>
                                                                {% if heure.heurePayee %}
                                                                    <input type="checkbox" name="heure{{ heure.id }}" checked>
                                                                {% else %}
                                                                    <input type="checkbox" name="heure{{ heure.id }}" >
                                                                {% endif %}
                                                            </label>

                                                        </div>
                                                    </td>
                                                </tr>

                                            {% endif %}

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>
<script type="text/javascript">
    $(function() {

        $('input[id^="dateEnvoiAvenantEtudiant"]').each(function(){
            $(this).datetimepicker({
                format: 'DD/MM/YYYY',
                defaultDate: new Date(),
            });
        });

    });
</script>
{% endblock %}
