                        <div class="col-md-12">

                            <section class="col-md-6">
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.nom}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.prenom}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.mailPerso}}

                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.mailParents}}

                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.adresseEtudiante}}

                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.adresseFamiliale}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.telephonePerso}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantInformations.telephoneParents}}
                                </div>
                            </section>
                            <section class="col-md-6">
                                <div class="col-md-12">
                                    {{ informationsEtudiantAidant.etudiant.numeroEtudiant}}
                                </div>
                                <div class="col-md-12" >
                                    {{ informationsEtudiantAidant.etudiant.dateNaissance|date('d/m/Y')}}
                                </div>
                                <div class="col-md-6" >
                                    {{ informationsEtudiantAidant.etudiant.premiereInscription}}
                                </div>
                                <div class="col-md-6" >
                                    {{ informationsEtudiantAidant.etudiantInformations.mailInstitutionnel}}
                                </div>
                                <div class="col-md-12" >
                                    {{ informationsEtudiantAidant.certificatMedical}}
                                </div>
                            </section>
                            <section class="col-md-12">
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantFormation.composante}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantFormation.filiere}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantFormation.cycle}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantFormation.anneeEtude}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantFormation.diplome}}
                                </div>
                                <div class="col-md-6">
                                    {{ informationsEtudiantAidant.etudiantFormation.etablissement}}
                                </div>

                            </section>

                            
                        </div>