<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    {% block head %}
    <link rel="stylesheet" href="{{asset('bundles/suhGestion/css/bootstrap.min.css')}}" type="text/css"/>
    
    <link rel="stylesheet" href="{{asset('bundles/suhGestion/css/accueil.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/suhGestion/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/suhGestion/css/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/suhGestion/css/jquery.dynatable.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/suhGestion/css/formValidation.min.css') }}"/>
      
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jquery.min.js')}}"/></script> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jquery-ui.min.js')}}"/></script> 
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/bootstrap.min.js')}}"/></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jquery.steps.min.js')}}"/></script> 
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/boutonsGestionEtudiant.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/confirmations.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jquery.dynatable.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/moment.js')}}"></script>
    
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jquery.validate.js')}}"></script>
    
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/additional-methods.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/formValidation.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/fr_FR.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/autreBootstrap/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/messages_fr.min.js')}}"></script>

    <script type="text/javascript" src="{{asset('bundles/suhGestion/js/jspdf.min.js')}}"/></script>     
    {% endblock %}
    <title>{% block title %} Header {% endblock %}</title>
  </head>
  <!-- HEADER : logo SUH + navbar (accueil, statistiques, deconnexion -->
  
  <header>

      <div class="container-fluid">

          <div class="row">
              <div class="col-md-3">
                <div class="col-md-12">
                <a href="{{path('suh_choix_homepage')}}" >
                    <img id="logo" alt="SUH" src="{{asset('bundles/suhGestion/images/logo_suh.png')}}">
                </a>
                </div>
                <div class="col-md-4">
                  <a href="{{path('suh_contrat_homepage')}}" class="col-md-offset-5">
                      <span class="btn btn-primary">
                          Contrat
                      </span>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="{{path('suh_gestion_homepage')}}">
                        <span class="btn btn-success" >
                            Gestion
                        </span>
                  </a>
                </div>
                
              </div>
              <div class="col-md-9">
                  {% block menu %}
                  <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="liensNavbar"><a id="accueil" href="{{path('suh_user_homepage')}}">Accueil</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="deconnexion"><a href="{{path('logout')}}">Deconnexion</a></li>
                        </ul>
                    </div>
                </nav>
                {% endblock %}
              </div>
          </div>
      </div>
  </header>
  
  <!-- FIN HEADER -->
  
  {% block body %}
      
  {% endblock %}
</html>

