{% extends "SUHContratBundle:AffichageContrats:base.html.twig" %}

{% block title %} {{parent()}} - Accueil {% endblock %}

{% block body %}
    <body>
        <div class="container">
            <h1 style="color: white">Bonjour {{ etudiant.etudiantInformations.nom }} {{ etudiant.etudiantInformations.prenom }}</h1>
            {% for message in app.session.flashbag.get('warning') %}
                <div class="alert alert-danger">
                    <strong>Attention !</strong> {{message}}
                </div>
            {% endfor %}

            {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <strong>Attention !</strong> {{message}}
                </div>
            {% endfor %}


            {% if contrat is null %}
                <div class="alert alert-danger">
                    <strong>Vous ne possedez actuellement aucun contrat</strong>
                </div>
            {% else %}
                <div class="bloc-etudiant panel panel-primary">


                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}



                    {# Idem pour un autre champ. #}
                    <div class="form-group">
                        {{ form_label(form.natureMission, "Nature de la mission : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.natureMission) }}
                        <div class="col-sm-3 checkbox">
                            {{ form_widget(form.natureMission, {'attr': {'class': 'col-md-8'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.descriptionMission, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}
                        {{ form_errors(form.descriptionMission) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.descriptionMission, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dateAndTime, "Date et heure : ", {'label_attr': {'class': 'col-sm-3 control-label '}}) }}
                        {{ form_errors(form.dateAndTime) }}
                        <div class="col-sm-4">
                            {{ form_widget(form.dateAndTime, {'attr': {'class': 'form-control date'}}) }}
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form_label(form.nbHeure, "Nombre d'heures : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.nbHeure) }}
                        <div class="col-sm-1">
                            {{ form_widget(form.nbHeure, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    {% if modeEdition == true %}
                        <button type="submit" class="btn btn-success col-sm-offset-3">Editer les heures</button>
                    {% else %}
                        <button type="submit" class="btn btn-success col-sm-offset-3">Ajouter les heures</button>
                    {% endif %}
                    <br>


                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}

                </div>

            {% endif %}
        </div>

        <!-- Flashbags d'events -->
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success message-fixed">
                <strong>Le SUH a mis la gomme.</strong> {{message}}
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        {% endfor %}
        <!-- -- -->


    </body>
<script type="text/javascript">
    $(function() {


        $('.date').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            defaultDate: new Date()

        })

        $('.date').datetimepicker('setStartDate', '2017-01-01');

    });
</script>
{% endblock %}
